$grid-columns: 12;
$grid-max-width: 1200px; //breakpoint-small
$breakpoint-xs: "only screen and (min-width: 0px)";
$breakpoint-small: "only screen and (min-width: 451px)";
$breakpoint-medium: "only screen and (min-width: 768px)";
$breakpoint-large: "only screen and (min-width: 1008px)";
$breakpoint-xl: "only screen and (min-width: 1300px)";
$pink: #ff0b74;
$purple: #6516e7;
$darkPurple: #5110ba;