@import "reset";
@import "variables";
@import "grid";
@import "home";
@import "courses";
@import "singleCourse";
@import "timeline";
$font-stack: 'Muli',"Helvetica Neue", "Roboto", Helvetica, Arial, sans-serif;
$background-color: #f4994b;
$nav-item-color: #ffe4cd;
/*
 * Globals
 */
body,
html {
  font-family: $font-stack;
  color: #555;
  background: #6e26df;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  /* Font varient */
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  /* Smoothing */
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #6e26df 0%, #292464 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #6e26df 0%,#292464 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #6e26df 0%,#292464 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  height: 100vh;
  background-attachment: fixed;
  overflow: hidden;
}

.layout {
  display: grid;
  grid-template-columns: 2;
  grid-template-columns: 9.375rem 1fr;
  height: 100vh;

  .sidemenu {
    background: white;
    grid-template-rows: auto;
    display: grid;
    grid-gap: 1px 0;
    // background: grey;
    a {
      text-align: center;
      justify-self: center;
      align-self: center;
      border-bottom: 3px solid #e8e9ea;
      width: 100%;
      height: 100%;
      color: #6516e7;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-decoration: none;

      &:hover {
        background: #6516e7;
        color: #fff;
      }

      &.active {
        background: #6516e7;
        color: #fff;
      }

      .fa,
      .far,
      .fas {
        font-size: 2.5rem;
        display: block;
        margin-bottom: 20px;
      }
    }
  }
}

.mobile-btn {
  position: fixed;
  right: 20px;
  top: 40px;
  background: $purple;
  z-index: 101;
  padding: 20px;
  display: block;

  .fas {
    color: white;
    font-size: 2rem;
  }
}

.mobile-menu {
  display: block;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: white;
  z-index: 100;
  visibility: hidden;
  padding: 50px 0;
  transform: translate3d(-300px,0,0);
  opacity: 0;
  transition: all 0.4s ease-in-out;

  &.active {
    transform: translate3d(0,0,0);
    opacity: 1;
    visibility: visible;
  }

  a {
    color: $purple;
    display: block;
    padding: 20px;
    font-size: 2rem;

    .fa,
    .far,
    .fas {
      padding: 0 20px;
    }
  }
}
@media only screen and (min-width: 0) and (max-width: 450px) {
  .layout {
    display: grid;
    grid-template-columns: 2;
    grid-template-columns: 0 1fr;
  }
}
@media only screen and (min-width: 451px) {
  .layout {
    display: grid;
    grid-template-columns: 2;
    grid-template-columns: 0 1fr;
  }
}
@media only screen and (min-width: 768px) {
  .layout {
    display: grid;
    grid-template-columns: 2;
    grid-template-columns: 9.375rem 1fr;
  }

  .mobile-btn,
  .mobileMenu {
    display: none;
  }
}
@media only screen and (min-width: 1008px) {}
@media only screen and (min-width: 1300px) {}
